
/venv
/__pycache__
last_filter_file.txt
app.log
/classified
/converted
/deduplicated
/deslopped
/filtered
volume.txt
filter_criteria.txt
tokenmaxxer_config.json
lid.176.ftz
volume.txt
fasttext-0.9.2-cp311-cp311-win_amd64.whl
*.png
/datasets
/split
