
/venv
/__pycache__
last_filter_file.txt
app.log
/classified
/converted
/deduplicated
/deslopped
/filtered
volume.txt
filter_criteria.txt
tokenmaxxer_config.json
lid.176.ftz
volume.txt
fasttext-0.9.2-cp311-cp311-win_amd64.whl
*.png
/datasets
/split
.vscode/settings.json
pyrightconfig.json
/App/__pycache__
/App/DeslopMancer/__pycache__
/App/ForMaxxer/__pycache__
/App/LanguageMaxxer/__pycache__
/App/LineMancer/__pycache__
/App/N-GraMancer/__pycache__
/App/Other/__pycache__
/App/ParquetMaxxer/__pycache__
/App/RefusalMancer/__pycache__
/App/SafetensorMaxxer/__pycache__
/App/SynthMaxxer/__pycache__
/App/TokenMaxxer/__pycache__
/App/WordCloudMaxxer/__pycache__
/App/DedupeMancer/__pycache__
App/SynthMaxxer/global_names_cache.json
App/SynthMaxxer/synthmaxxer_config.json
App/SynthMaxxer/grok_tool_config.json
/Outputs
/App/MergeMaxxer/__pycache__
/App/ImageDedupMancer/__pycache__
/App/BehaviorMancer/__pycache__
