numpy==1.26.4
aiofiles
fuzzywuzzy
jsonlines
matplotlib
pandas
Pillow
polars
pyarrow
pygame
PyYAML
Requests
spacy
tqdm
transformers
wordcloud
python-Levenshtein
pyspellchecker
textblob
markdown2
language_tool_python
sentencepiece
protobuf
datasketch
rensa
sentence-transformers
faiss-cpu
datasets
onnxruntime
onnx
