aiofiles
fuzzywuzzy
jsonlines
matplotlib
pandas
Pillow
polars
pyarrow
pygame
PyYAML
Requests
spacy
torch
torchvision  
torchaudio
tqdm
transformers
wordcloud
CuPy
python-Levenshtein
pyspellchecker
textblob
markdown2
language_tool_python