numpy==1.26.4
aiofiles
fuzzywuzzy
jsonlines
matplotlib
pandas
Pillow
polars
pyarrow
PyYAML
Requests
spacy
tqdm
transformers
wordcloud
python-Levenshtein
pyspellchecker
textblob
markdown2
language_tool_python
sentencepiece
protobuf
datasketch
rensa
sentence-transformers
faiss-cpu
datasets
pyqt5
json-repair
xai_sdk
accelerate
safetensors
einops
huggingface_hub